[uwsgi]
plugins = http,python
http-socket = 0.0.0.0:{{ port }}
#socket = 127.0.0.1:3031
#http-socket = 127.0.0.1:3032
chdir = {{ dir }}/servermon
wsgi-file = apache/django.wsgi
processes = {{ ansible_processor_count }}
threads = {{ ansible_processor_threads_per_core }}
#stats = 127.0.0.1:9191
uid = servermon
gid = servermon
master = true
